services:
    app:
        build: .
        ports:
            - "${APP_PORT}:8081"
    rabbitmq:
        container_name: "SampleRabbitMQ"
        image: "rabbitmq:latest"
        ports:
            - "5672:5672"
        environment:
            - "RABBITMQ_DEFAULT_USER=${USERNAME}"
            - "RABBITMQ_DEFAULT_PASS=${PASSWORD}"