<configuration>
    <property name="COMMON_PATTERN" value="[%d{hh:mm:ss.SSS}] [%thread] %-5level [%logger{36}]: %msg%n"/>

    <appender name="ROOT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="AMQP_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>logs/amqp-log.log</file>
        <append>false</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="APP_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>logs/app-log.log</file>
        <append>false</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="ROOT_APPENDER"/>
    </root>
    
    <logger name="com.github.tavi" level="INFO">
        <appender-ref ref="APP_APPENDER"/>
    </logger>
    
    <logger name="org.springframework.amqp" level="INFO">
        <appender-ref ref="AMQP_APPENDER"/>
    </logger>
</configuration>